* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: burlywood;
  padding: 20px;
  text-align: center;
}

.main {
  margin: 30px;
}

.mostra-cards {
  background-color: burlywood;
  display: flex;
  margin: 20px;
  padding: 20px;
}

/* h2 {
  background-color: burlywood;
} */

.cada-card {
  background-color: rgb(197, 189, 189);
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  margin: 10px;
  min-width: 150px;
  padding: 10px;
  width: 20%;
}

.cada-card > img {
  height: 100px;
  max-width: 100%;
  object-fit: cover;
}
