* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: burlywood;
  padding: 10px;
  text-align: center;
}

.header > h1 {
  padding: 10px;
}

.main {
  display: flex;
  margin: 30px;
}

.main-form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  padding: 15px;
  width: 50%;
}

.mostra-cards {
  background-color: burlywood;
  display: flex;
  margin: 20px;
  padding: 20px;
}

.cada-card {
  background-color: rgb(197, 189, 189);
  border: 1px solid black;
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
  margin: 10px;
  min-width: 150px;
  padding: 10px;
  width: 0%;
}

.cada-card > img {
  height: 100px;
  max-width: 100%;
  object-fit: cover;
}
